<div ng-controller="FormController">
    <form class="form-horizontal" role="form">
        <div ng-repeat="item in formData">
        <div class="form-group">
            <label for="field_{{ item.name }}" class="col-sm-2 control-label">{{ item.name }}</label>
            <div class="col-sm-10" ng-if="item.type === 'combo'">
                <select ng-required="{{ item.required }}" id="field_{{ item.name }}" name="{{ item.name }}" ng-model="data[item.name]" ng-options="value for (key, value) in item.options" class="form-control">
                    <option value="">Please select...</option>
                </select>
            </div>
            <div class="col-sm-10" ng-if="item.type === 'text'">
                <input id="field_{{ item.name }}" type="text" name="{{ item.name }}" class="form-control" ng-model="data[item.name]" ng-required="{{ item.required }}" />
            </div>
            <div class="col-sm-10" ng-if="item.type === 'date'">
                <input id="field_{{ item.name }}" type="date" name="{{ item.name }}" class="form-control" ng-model="data[item.name]" ng-required="{{ item.required }}" />
            </div>
        </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="onSubmit()" type="submit" class="btn btn-default">Short it!</button>
            </div>
        </div>
    </form>
    <pre>{{formData|json}}</pre>

</div>